---
import MainLayout from "src/layouts/MainLayout.astro"
---

<MainLayout title="christphralden | Home">
	<mai class="min-h-screen">
		<div class="w-screen h-screen flex p-8">
			<div class="w-full h-full relative ">
				<p class=" slide-up name bottom-0 left-0 absolute font-suisse text-9xl font-light text-black tracking-tighter">Christopher Alden</p>
				<span class="slide-up role right-0 top-80 absolute text-5xl text-right tracking-tight">
					Designer 
					<span class="font-jha italic">&</span>
					<br/>
					<span class="slide-up">Fullstack Developer</span>
				</span>
			</div>
		</div>
	</mai>
</MainLayout>

<script>
	import { gsap } from 'gsap';

	document.addEventListener('DOMContentLoaded', function() {
		gsap.from(".slide-up", {
			duration: 3,
			y: 100,
			opacity: 0, 
			stagger: 0.2,
			ease: "expo.out",
		});
	});

	
</script>