---
import MainLayout from "src/layouts/MainLayout.astro"
import lorem from '@content/lorem.json'
---

<MainLayout title="christphralden | Home">
	<mai class="min-h-screen">
		<div class="w-screen h-screen flex p-8">
			<div class="w-full h-full relative ">
				<div class="mt-24 relative font-suisse flex flex-col gap-8">
					<p class="slide-up text-9xl font-light text-black tracking-tighter uppercase">Christopher&nbsp;&nbsp;Alden</p>
					<div class="slide-up flex gap-4 w-96 ml-[350px] leading-5">
						<div class="text-right tracking-wider h-fit">
							<p class="text-nowrap">ABOUT ME</p>
						</div>
						<div class="text-left flex flex-col gap-2">
							<p class="">{lorem.small}</p>
							<p class="">{lorem.small}</p>
						</div>
					</div>
				</div>
				<span class="slide-up role right-0 top-[550px] absolute text-5xl text-right tracking-tight ">
					Designer 
					<span class="font-jha italic">&</span>
					<br/>
					<span class="slide-up">Fullstack Developer</span>
				</span>
			</div>
		</div>
	</mai>
</MainLayout>

<script>
	import { gsap } from 'gsap';

	document.addEventListener('DOMContentLoaded', function() {
		gsap.from(".slide-up", {
			duration: 1,
			y: 50,
			opacity: 0, 
			stagger: 0.15,
			ease: "expo.out",
		});
	});

	
</script>