---
import contact from '@content/contact/contact.json'
import Separator from './ui/Separator.astro'
---
<footer class="w-full h-fit p-8 flex flex-col justify-end items-start">
    
    <div class="w-full flex flex-col justify-between items-center">
        <Separator className='mb-4'/>
    </div>
    <div class="flex flex-col items-end w-full">
        <div class="w-2/5 flex gap-8 text-sm uppercase tracking-wide text-right">
            <div class="w-1/2">
                <p>{contact.email}</p>
            </div>
            <div class="w-1/2">
                <p>instagram</p>
                <p>github</p>
            </div>
        </div>
    </div>
    <p class="font-jha italic ">
        "{contact.tagline}"
    </p>
    <p class="font-jha italic">
        2024 <span class="font-suisse not-italic">©</span> Edition
    </p>
    
</footer>

<style>

</style>