---
import { NavbarRoutes } from "@lib/routes/navbar-routes"
import TransitionLink from "@components/link/TransitionLink";
const currentPath = Astro.url.pathname;
---
<nav class="fixed w-full h-20 p-8 flex justify-between z-10">
    {NavbarRoutes.map(routes=>(
        <TransitionLink client:idle disabled={currentPath==routes.route} to={routes.route} className={`text-base ${currentPath === routes.route ? "text-accent" : "text-black"}  hover:text-accent w-fit h-fit transition-all duration-300`}>{routes.name}</TransitionLink>
    ))}
</nav>
