---
import MainLayout from "src/layouts/MainLayout.astro"
import ProjectLayout from "src/layouts/ProjectLayout.astro"
---
<MainLayout title="christphralden | Projects">
    <main class="min-h-screen w-screen">
        <ProjectLayout>
            
        </ProjectLayout>
    </main>
</MainLayout>

<style>

</style>