---
import CustomCursor from './CustomCursor.astro';
import Navbar from '@components/Navbar.astro';
import Footer from '@components/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navbar/>
		<slot />
		<Footer/>
		<CustomCursor/>
	</body>
</html>
<style is:global>
	::-moz-selection { 
		color: white;
		background: #0000ff
	}	

	::selection {
		color: white;
		background: #0000ff
	}
	:root {
		background-color: #F9F6EE;
	}
	html {
		font-family: sans-serif;
		background: #F9F6EE;
	}
	code {
		font-family: sans-serif;
	}
</style>
