---
import CustomCursor from './CustomCursor.astro';
import Navbar from '@components/Navbar.astro';
import Footer from '@components/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navbar/>
		<slot />
		<Footer/>
		<CustomCursor/>
		<div id="transition-element" class="w-screen h-screen bg-accent z-20 fixed top-0 left-0 flex justify-center items-center">
		</div>
	</body>
</html>
<style is:global>
	::-moz-selection { 
		color: white;
		background: #0000ff
	}	

	::selection {
		color: white;
		background: #0000ff
	}
	::-webkit-scrollbar-track {
		background-color: transparent;
	}

	::-webkit-scrollbar-thumb {
		background-color: #86cfd8;
		border-radius: 10px;
	}

	::-webkit-scrollbar {
		width: 0px;
	}
	:root {
		background-color: #F9F6EE;
	}
	html {
		font-family: sans-serif;
		background: #F9F6EE;
	}
	code {
		font-family: sans-serif;
	}
</style>
<script>
	import { animatePageIn } from '@lib/animations/transition-link';
	import LocomotiveScroll from 'locomotive-scroll';
	const options = {
			wrapper: window,
			content: document.documentElement,
			lerp: 0.1,
			duration: 1.2,
			orientation: 'vertical',
			gestureOrientation: 'vertical',
			smoothWheel: true,
			smoothTouch: false,
			wheelMultiplier: 1,
			touchMultiplier: 2,
			normalizeWheel: true,
	}
	const locomotiveScroll = new LocomotiveScroll(options);


	document.addEventListener('DOMContentLoaded',()=>{
		animatePageIn()
	})
</script>
